127.0.0.1       ansible ansible
127.0.0.1       localhost
127.0.1.1       vagrant.vm      vagrant
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

# controller
{{ cont_ip }} controller

# compute
{{ comp_ip }} compute
