auto lo
iface lo inet loopback

# The primary network interface
auto {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet static
        address {{ ansible_default_ipv4.address }}
        netmask {{ ansible_default_ipv4.netmask }}
        broadcast {{ ansible_default_ipv4.broadcast }}
        gateway {{ ansible_default_ipv4.gateway }}
        dns-nameserver 8.8.8.8
        up ip link set dev $IFACE up
        down ip link set dev $IFACE down
