#!/bin/bash
openstack project create --domain default --description "Admin Project" admin &&
openstack user create --domain default --password={{ openstack_admin_pass }} &&
openstack role create admin &&
openstack role add --project admin --user admin admin
